<h1>
  Things Todo!
  <a href="/todo/add/" class="pull-right btn btn-success">Add Todo</a>
</h1>

<br><br>

<ul class="list-group">
  {{#each todos}}
    <li class="list-group-item clearfix">
      {{title}}
      <span class="pull-right">
        <a href="/todo/{{_id}}/edit/" class="btn btn-primary">Edit</a>
        <a href="/todo/{{_id}}/delete/" class="btn btn-danger">Delete</a>
      </span>
    </li>
  {{/each}}
</ul>
